<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.gastronomica"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-library android:name="com.google.android.maps" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".UILApplication"
        android:allowBackup="true"
        android:alwaysRetainTaskState="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material.Gastronomica" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/GastronomicaThemeViewPager.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ContainerActivity"
            android:label="@string/title_activity_activity_base"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewPagerActivityRestaurantes"
            android:label="@string/title_activity_view_pager"
            android:screenOrientation="portrait"
            android:theme="@style/GastronomicaThemeViewPager.NoActionBar" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:screenOrientation="portrait"
            android:theme="@style/GastronomicaThemeViewPager.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustPan|adjustResize" />
        <activity
            android:name=".activity.ViewPagerActivityEventos"
            android:label="@string/title_activity_view_pager_activity_eventos"
            android:screenOrientation="portrait"
            android:theme="@style/GastronomicaThemeViewPager.NoActionBar" />
        <activity
            android:name=".activity.ResetPasswordEmail"
            android:label="@string/title_activity_reset_password_email"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustPan|adjustResize" />
        <activity
            android:name=".activity.ResetPasswordCode"
            android:label="@string/title_activity_reset_password_code"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustPan|adjustResize" />
        <activity
            android:name=".activity.ResetPasswordPassword"
            android:label="@string/title_activity_reset_password_password"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateVisible|adjustPan|adjustResize" />
        <activity
            android:name=".activity.ViewPagerActivityColaboradores"
            android:label="@string/title_activity_view_pager_activity_colaboradores"
            android:screenOrientation="portrait"
            android:theme="@style/GastronomicaThemeViewPager.NoActionBar" />
    </application>

</manifest>
